<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # إذا كان الطلب لملف موجود فعلاً، استخدمه
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # وإلا، أعد التوجيه إلى index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>